.main-content {
/* width: 500px; */
width: 50vw;
background-color: bisque;
padding: 5px;
margin: 0 auto;

}
.info-block {
    font-size: 14px;
    width: calc (50% - 200px);
    background-color: aqua;
    /* 14*2 = 2 em */
    /* padding: 2em; */

    /* 16 - font size in browser */
    padding: 2rem;

    border: 2px solid black;
    margin: 10px;
    /* border-width: ;
    border-style: ;
    border-color: ; */
    border-radius: 5px;
    box-sizing: border-box;

}