/* I am comment */
/* Comment */

/* p {
    font-size: 20px;
    color: blueviolet;
    background-color: aquamarine;
}
.p-3 {
    font size: 30px;
    background-color: pink;
}

.p-5 {
    font-size: 40px;
    color: rgb(252, 205, 255);
}




h1 {
    color: rgba(0, 0, 255, 0.5);
}

.heading-1 {
    text-align: right;
}
.heading-2 {
    text-align: left;
}
.heading-3 {
    text-align: center;
}
.heading-4 {
    text-align: justify;}

    .p-last {
        width: 300px;
        text-align: justify;
    }  */

    .p-with-bg {
        background-image: url(/993A8930-9FD5-4DA2-BD5E-5AA0B1B6C97E_1_105_c.jpeg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    .p-margin {
        border: 1px solid black;
        width: 50%;
        /* margin: 20px 30px 40px 50px; */
        margin: 10px auto;
    }

    .first-block, 
    .second-block {
        margin-top: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        padding-bottom: 50px;
    }

    #first-class {

    }
    [class="first-block"]
    * {}
    